@model AnimalCreateEditViewModel
@{ 
    var pageBreadcrumb = new Dictionary<string, string>()
    {
        { "Home", "/" },
        { "Animals", "/Animal/" },
        { 
            (Model.IsCreate) ? "Create" : "Edit", 
            (Model.IsCreate) ? "/Animal/Create/" : $"/Animal/Edit/{Model.AnimalId}" 
        }
    }; // Stored in a variable so we can reuse it for some JS code.
    var lifeEventBreadcrumb = pageBreadcrumb.Select(kvp => $"{kvp.Key}:{kvp.Value}")
                                            .Aggregate((s1, s2) => $"{s1}>{s2}");
    lifeEventBreadcrumb += $">{Model.Name}:/Animal/Edit/{Model.AnimalId}";

    Layout = "_GenericEditorLayout";
    ViewData["Title"] = $"{(Model.IsCreate ? "Create" : "Edit")} an animal";
    ViewData["Breadcrumb"] = pageBreadcrumb;
}

<partial name="_ViewModelWithMessagePartial" model="@Model" />
<partial name="_ModalAreYouSure_NoUndo" />

<section class="editor section">
    <section>
        <h4>Information</h4>
        <div class="content">
            <form class="ui form" method="post" enctype="multipart/form-data" asp-action="CreateEdit">
                <input type="hidden" asp-for="IsCreate" />
                <input type="hidden" asp-for="AnimalId" />
                <input type="hidden" asp-for="ImageId" />

                <div class="field">
                    @{
                        var imageLink = (Model.ImageId == null)
                                        ? "/images/icons/default.png"
                                        : $"/Image/Get?imageId={Model.ImageId}&width=760&height=800";
                    }
                    <label>Image</label>
                    <a href="@imageLink" target="_blank">
                        <img id="image"
                             class="ui centered image"
                             src="@imageLink"
                             style="max-width: 100%; max-height: 400px; width: 380px; height: auto;" />
                    </a>
                    <input id="inputImage" asp-for="Image" />
                </div>

                <div class="field">
                    <label>Name</label>
                    <input asp-for="Name" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Tag</label>
                    <input asp-for="Tag" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Gender</label>
                    <div class="ui search selection dropdown normie">
                        <input type="hidden" asp-for="Sex" value="@($"{Model.Sex}".ToLower())" />
                        <i class="dropdown icon"></i>
                        <div class="text"></div>
                        <div class="menu">
                            <div class="item">@Animal.Gender.Male</div>
                            <div class="item">@Animal.Gender.Female</div>
                            <div class="item">@Animal.Gender.Other</div>
                        </div>
                    </div>
                </div>
                <vc:dropdown label="Owner"
                             asp-for="OwnerId"
                             default-value="@Model.OwnerId"
                             dropdown-id="selectOwner"
                             goto-action="Index"
                             goto-controller="Contact"
                             is-multiple-select="false" />
                <vc:dropdown label="Holding"
                             asp-for="HoldingId"
                             default-value="@Model.HoldingId"
                             dropdown-id="selectHolding"
                             goto-action="Index"
                             goto-controller="Holding"
                             is-multiple-select="false" />
                <vc:dropdown label="Species"
                             asp-for="SpeciesId"
                             default-value="@Model.SpeciesId"
                             dropdown-id="selectSpecies"
                             goto-action="Index"
                             goto-controller="SpeciesBreed"
                             is-multiple-select="false" />
                <vc:dropdown label="Dad"
                             asp-for="DadId"
                             default-value="@Model.DadId"
                             dropdown-id="selectDad"
                             goto-action="Index"
                             goto-controller="Animal"
                             is-multiple-select="false" />
                <vc:dropdown label="Mum"
                             asp-for="MumId"
                             default-value="@Model.MumId"
                             dropdown-id="selectMum"
                             goto-action="Index"
                             goto-controller="Animal"
                             is-multiple-select="false" />

                @{
                    var breedValueString = (Model.BreedIds?.Any() ?? false)
                                           ? Model.BreedIds.Select(id => $"{id}").Aggregate((s1, s2) => s1 + "," + s2)
                                           : null;
                }
                <vc:dropdown label="Breeds"
                             asp-for="BreedIds"
                             default-value="@breedValueString"
                             dropdown-id="selectBreeds"
                             goto-action="Index"
                             goto-controller="SpeciesBreed"
                             is-multiple-select="true" />

                <button class="ui primary fluid button" type="submit">
                    @(Model.IsCreate ? "Create New Animal" : "Edit Animal")
                </button>
            </form>
        </div>
    </section>
    <section>
        <h4>Groups</h4>
        <div id="contentGroup" class="content">
            <div class="ui fluid styled accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Add to group
                </div>
                <div class="content ui form">
                    <vc:dropdown label="Group"
                                    asp-for="DUMMY_VALUE"
                                    default-value=""
                                    dropdown-id="selectGroup"
                                    goto-action="Index"
                                    goto-controller="AnimalGroup"
                                    is-multiple-select="false" />
                    <button id="buttonAddToGroup" class="ui button">Add to group</button>
                </div>
            </div>
            <div id="errorGroup" class="ui error message transition hidden"></div>
            <div class="top padded items"></div>
        </div>
    </section>
    <section>
        <h4>Characteristics</h4>
        @if(!Model.IsCreate)
        {
            <div class="content">
                <partial name="_ComponentCharacteristics" model='new ComponentCharacteristicsViewModel
                {
                    AjaxListUrl = "/Ajax/Animal_ById_Characteristic_AsNameValueTypeInheritedId_All",
                    AjaxAddUrl = "/Ajax/Animal_ById_Characteristic_Add",
                    AjaxDeleteUrl = "/Ajax/Animal_ById_Characteristic_Delete_ById",
                    EntityId = Model.AnimalId ?? -1
                }' />
            </div>
        }
    </section>

    <section>
        <h4>Life Events</h4>
        <div class="content">
            <div class="ui fluid styled accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Add a life event
                </div>
                <div class="content ui form">
                    <vc:dropdown label="Life Event"
                                    asp-for="DUMMY_VALUE"
                                    default-value=""
                                    dropdown-id="selectLifeEvent"
                                    goto-action="Index"
                                    goto-controller="LifeEvent"
                                    is-multiple-select="false" />
                    <button id="buttonCreateEvent" class="ui button">Goto Event Creation Editor</button>
                </div>
            </div>
            <div id="errorLifeEvents" class="ui error message transition hidden"></div>
            <table id="tableLifeEvents" class="ui striped table">
                <thead>
                    <tr class="three columns">
                        <th class="editor action"></th>
                        <th>Name</th>
                        <th>Date created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h4>Other actions</h4>
        <div class="content">
            <div class="ui warning message">
                <h5>These actions are permanent.</h5>
            </div>
            <button id="buttonDeleteAnimal" class="ui red button">Delete animal</button>
        </div>
    </section>
</section>

@section Scripts {
    <!--GraphQL related code. Covers the entire 'Information' section, as well as populating the Life Event section and group dropdown.-->
    <!--All the "AnimalId ?? -1" parts of the code are to handle if we're in create mode, where AnimalId will be null-->
    <script type="module">
        import { GraphQL, FarmAjax, FarmAjaxMessageType, Modal, Dropdown } from "/js/index.js";

        const selectGroup       = new Dropdown("selectGroup");
        const selectOwner       = new Dropdown("selectOwner");
        const selectHolding     = new Dropdown("selectHolding");
        const selectSpecies     = new Dropdown("selectSpecies");
        const selectMum         = new Dropdown("selectMum");
        const selectDad         = new Dropdown("selectDad");
        const selectLifeEvent   = new Dropdown("selectLifeEvent");
        const selectBreeds      = new Dropdown("selectBreeds");

        window.selectGroup = selectGroup;
        window.selectLifeEvent = selectLifeEvent;

        function onError(errors) {
            alert(JSON.stringify(errors));
        }

        function populateFromIdName(dropdown, idNameList, isMultipleSelect = false, ignoreIfAnimalId = false) {
            const menu = dropdown.querySelector(".menu");
            const currentValue = dropdown.querySelector("input[type=hidden]").value;
            const multipleValues = currentValue.split(',');

            for (const div of menu.querySelectorAll("div"))
                menu.removeChild(div);

            if (dropdown.classList.contains("disabled"))
                dropdown.classList.remove("disabled");
            for (const idName of idNameList) {
                if (ignoreIfAnimalId && idName.id == @(Model.AnimalId ?? -1))
                    continue;

                addItemToDropdown(
                    dropdown,
                    idName.name,
                    idName.id,
                    (isMultipleSelect)
                        ? multipleValues.indexOf(idName.id) > -1
                        : idName.id === currentValue,
                    isMultipleSelect);
            }

            $(dropdown).dropdown();
        }

        // FOR THE NEW DROP DOWNS, FUNCTION ABOVE WILL BE REPLACED SOON.
        function fromIdName(dropdown, nameIdArray) {
            dropdown.clear();
            for (const nameId of nameIdArray) {
                dropdown.addItem({
                    name:        nameId.name,
                    value:       nameId.id,
                    isSelected:  nameId.id === dropdown.defaultValue
                });
            }
        }

        window.addGroupInfo = function (id, name, description) {
            const contentGroup = document.getElementById("contentGroup");

            const divSubContent = contentGroup.appendChild(document.createElement("div"));
            {
                divSubContent.classList.add("dark", "striped", "sub", "content");

                const divInfo = divSubContent.appendChild(document.createElement("div"));
                {
                    divInfo.classList.add("animal", "group", "info");

                    const button = divInfo.appendChild(document.createElement("button"));
                    {
                        button.classList.add("ui", "red", "icon", "button");

                        const i = button.appendChild(document.createElement("i"));
                        {
                            i.classList.add("close", "icon");
                        }

                        button.onclick = () => Modal.askAreYouSure().then(() => {
                            FarmAjax.postWithMessageResponse(
                                "/Ajax/Animal_ById_RemoveFromGroup_ById",
                                {
                                    byId: @(Model.AnimalId ?? -1),
                                    forId: id
                                },
                                r => {
                                    if (r.messageType !== FarmAjaxMessageType.Information) {
                                        r.populateMessageBox(document.getElementById("errorGroup"));
                                        return;
                                    }
                                    contentGroup.removeChild(divSubContent);
                                    addItemToDropdown(
                                        document.getElementById("selectGroup").parentNode,
                                        name + " - " + description,
                                        id
                                    );
                                }
                            );
                        })
                    }

                    let div = divInfo.appendChild(document.createElement("div"));
                    {
                        div.classList.add("name");
                        div.innerText = name;

                        div = div.appendChild(document.createElement("div"));
                        {
                            div.classList.add("description");
                            div.innerText = description;
                        }
                    }
                }
            }
        };

        // These are seperate functions to make it easier to add additional logic in the future.
        // I'm fully aware these could be condensed further.
        function handleContacts(contacts) {
            fromIdName(selectOwner, contacts);
        }

        function handleSpecies(species) {
            fromIdName(selectSpecies, species);
        }

        function handleMums(mums) {
            for (let i = 0; i < mums.length; i++) {
                if (mums[i].id === "@(Model.AnimalId ?? -1)") {
                    mums.splice(i, 1);
                    break;
                }
            }

            fromIdName(selectMum, mums);
        }

        function handleDads(dads) {
            for (let i = 0; i < dads.length; i++) {
                if (dads[i].id === "@(Model.AnimalId ?? -1)") {
                    dads.splice(i, 1);
                    break;
                }
            }

            fromIdName(selectDad, dads);
        }

        function handleHoldings(holdings) {
            fromIdName(selectHolding, holdings);
        }

        function handleBreeds(breeds) {
            fromIdName(selectBreeds, breeds);
        }

        function handleLifeEventTypes(lifeEvent) {
            fromIdName(selectLifeEvent, lifeEvent);
        }

        function handleLifeEventEntries(entries) {
            const table = document.getElementById("tableLifeEvents");
            const tbody = table.querySelector("tbody");

            for (const entry of entries) {
                const tr = tbody.appendChild(document.createElement("tr"));
                {
                    let td = tr.appendChild(document.createElement("td"));
                    {
                        const button = td.appendChild(document.createElement("button"));
                        button.classList.add("ui", "red", "icon", "button");
                        {
                            const i = button.appendChild(document.createElement("i"));
                            i.classList.add("close", "icon");
                        }
                        button.addEventListener("click", () => {
                            Modal.askAreYouSure()
                                .then(() => {
                                    FarmAjax.postWithMessageResponse(
                                        "/Ajax/Animal_ById_LifeEventEntry_Delete_ById",
                                        {
                                            byId: @(Model.AnimalId ?? -1),
                                            forId: entry.id
                                        },
                                        r => {
                                            if (r.messageType !== FarmAjaxMessageType.Information) {
                                                r.populateMessageBox(document.getElementById("errorLifeEvents"));
                                                return;
                                            }

                                            tr.parentNode.removeChild(tr);
                                        }
                                    );
                                });
                        });
                    }

                    td = tr.appendChild(document.createElement("td"));
                    {
                        td.innerText = entry.lifeEvent.name;
                    }

                    td = tr.appendChild(document.createElement("td"));
                    {
                        td.innerText = new Date(entry.dateTimeUtc).toUTCString();
                    }

                    td = tr.appendChild(document.createElement("td"));
                    {
                        const button = td.appendChild(document.createElement("button"));
                        {
                            button.classList.add("ui", "fluid", "button");
                            button.innerText = "Edit";
                            button.addEventListener("click", () => {
                                @{ 
                                    var lifeEventEditBreadcrumb = lifeEventBreadcrumb + ">Edit Entry:#";
                                }
                                const url = "/LifeEvent/EditEntry"
                                    + "?lifeEventId=" + entry.lifeEvent.id
                                    + "&lifeEventEntryId=" + entry.id
                                    + "&breadcrumb=@Html.Raw(lifeEventEditBreadcrumb)"
                                    + "&redirectEntityId=@(Model.AnimalId ?? -1)";
                                window.open(url, "_blank");
                            });
                        }
                    }
                }
            }
        }

        function handleGroups(groupsIn, groupsNotIn) {
            for (const group of groupsNotIn)
                group.name = group.name + " - " + group.description;

            fromIdName(selectGroup, groupsNotIn);

            for (const group of groupsIn)
                window.addGroupInfo(group.id, group.name, group.description);
        }

        selectSpecies.inputNode.addEventListener("change", () => {
            const speciesId = selectSpecies.inputNode.value;
            GraphQL
                .query(`query GetSpeciesData($id:ID) {
                  mums: animals(gender:FEMALE, speciesId:$id){
                    id
                    name
                  }
                  dads: animals(gender:MALE, speciesId:$id){
                    id
                    name
                  }
                  breeds(speciesId:$id){
                    id
                    name
                  }
                }`, { id: speciesId })
                .then(data => {
                    handleMums(data.mums);
                    handleDads(data.dads);
                    handleBreeds(data.breeds);
                })
                .catch(errors => onError(errors));
        });

        function doInitialLoad() {
            GraphQL
                .query(`query InitialLoad($animalId: ID){
                contacts {
                    id
                    name
                }
                species {   
                    id
                    name
                }
                lifeEvents(target:ANIMAL) {
                    id
                    name
                }
                animals(id:$animalId) {
                    lifeEventEntries {
                        id
                        dateTimeUtc
                        lifeEvent {
                            id
                            name
                        }
                    }
                }
                holdings {
                    id
                    name
                }
                groupsAssignedTo: animalGroups(hasAnimalId:$animalId) {
                    id
                    name
                    description
                }
                groupsNotAssignedTo: animalGroups(hasNotAnimalId:$animalId) {
                    id
                    name
                    description
                }
            }`, { animalId: @(Model.AnimalId ?? -1) })
                .then(data => {
                    handleContacts(data.contacts);
                    handleSpecies(data.species);
                    handleLifeEventTypes(data.lifeEvents);
                    handleHoldings(data.holdings);
                    handleGroups(data.groupsAssignedTo, data.groupsNotAssignedTo);

                    if(data.animals.length > 0)
                        handleLifeEventEntries(data.animals[0].lifeEventEntries);
                })
                .catch(errors => onError(errors));
        }
        for (const select of [selectGroup, selectOwner, selectHolding, selectSpecies, selectMum, selectDad, selectLifeEvent, selectBreeds])
            select.fromRefreshFunc(doInitialLoad);
        doInitialLoad();

        $(".accordion").accordion();
        $(".normie.dropdown").dropdown();
    </script>

    <!--Code for the life event section. Does not cover populating the Life Event stuff, as that's done during the
        "InitialLoad" query in the script tag above.
    -->
    <script type="module">
        document.getElementById("buttonCreateEvent").addEventListener("click", () => {
            @{
                var lifeEventCreateBreadcrumb = lifeEventBreadcrumb + ">Create Entry:#";
            }
            const lifeEventId = selectLifeEvent.inputNode.value;
            const url =
                "/LifeEvent/CreateEntry"
                + "?lifeEventId=" + lifeEventId
                + "&redirectController=Animal"
                + "&redirectAction=OnCreateLifeEvent"
                + "&redirectEntityId=" + @(Model.AnimalId ?? -1)
                + "&breadcrumb=@Html.Raw(lifeEventCreateBreadcrumb)";
            window.open(url, "_self");
        });
    </script>

    <!--Code for the group section, except for populating the dropdown as that's done during InitialLoad-->
    <script type="module">
        import { GraphQL, FarmAjax, FarmAjaxMessageType, Modal } from "/js/index.js";

        document.getElementById("buttonAddToGroup").addEventListener("click", () => {
            FarmAjax.postWithMessageResponse(
                "/Ajax/Animal_ById_AssignGroup_ById",
                {
                    byId: @(Model.AnimalId ?? -1),
                    forId: selectGroup.inputNode.value
                },
                r => {
                    if (r.messageType !== FarmAjaxMessageType.Information) {
                        r.populateMessageBox(document.getElementById("errorGroup"));
                        return;
                    }

                    GraphQL
                        .query(`query GetAnimalGroups($id:ID) {
                            animalGroups(hasAnimalId:$id) {
                                id
                                name
                                description
                            }
                        }`)
                        .then(data => {
                            for (const subContent of document.querySelectorAll("#contentGroup div.sub.content"))
                                subContent.parentNode.removeChild(subContent);

                            for (const group of data.animalGroups)
                                window.addGroupInfo(group.id, group.name, group.description);
                        });
                }
            );
        });
    </script>

    <!--Update image when user changes the selected image-->
    <script type="module">
        const input = document.getElementById("inputImage");
        const image = document.getElementById("image");

        input.addEventListener("change", function () {
            image.src = URL.createObjectURL(input.files[0]);
        });
    </script>

    <!--Delete button-->
    <script type="module">
        import { Modal } from "/js/index.js";

        document.getElementById("buttonDeleteAnimal").addEventListener("click", () => {
            Modal
                .askAreYouSure()
                .then(() => document.location = "/Animal/Delete/" + @Model.AnimalId);
        });
    </script>
}