@model AnimalGroupCreateEditViewModel
@{
    Layout                 = "_GenericEditorLayout";
    ViewData["Title"]      = $"{(Model.IsCreate ? "Create" : "Edit")} an animal group";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/" },
        { "Animal Groups", "/AnimalGroup/" },
        {
            (Model.IsCreate) ? "Create" : "Edit",
            "#"
        }
    };
}

<partial name="_ViewModelWithMessagePartial" model="@Model" />
<partial name="_ModalAreYouSure_NoUndo" />

<section class="editor section">
    <section>
        <h4>Information</h4>
        <div class="content">
            <form class="ui form" method="post" asp-action="@(Model.IsCreate ? "Create" : "Edit")">
                <input type="hidden" asp-for="IsCreate" />
                <input type="hidden" asp-for="GroupId" />

                <div class="field">
                    <label>Name</label>
                    <input asp-for="Name" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Description</label>
                    <input asp-for="Description" autocomplete="off" />
                </div>

                <button class="ui primary fluid button" type="submit">
                    @(Model.IsCreate ? "Create new Animal Group" : "Edit Animal Group")
                </button>
            </form>
        </div>
    </section>
    @if(Model.IsCreate)
    {
        <section>
            <div class="ui visible info message">
                Further configuration can only be performed once the group has been created.
            </div>
        </section>
    }
    else
    {
        <section>
            <h4>Animals in this group</h4>
            <div class="content">
                <div class="ui visible info message">
                    Animals can be assigned to a group by going to their individual pages.
                </div>
                <div id="gridAnimals" class="three animal card grid">
                    @foreach (var animal in Model.Animals)
                    {
                        <div class="animal card">
                            <a href="/Animal/Edit/@animal.Id" target="_blank">
                                <div class="ui card">
                                    <div class="image">
                                        <img src="/Image/Get?imageId=@(animal.ImageId ?? -1)&width=664&height=700" />
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            @animal.Name
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>
        <section>
            <h4>Assignment script</h4>
            <div class="content">
                <partial name="_AnimalGroupScriptEditor" model="@(new AnimalGroupScriptEditorSingleUseViewModel
                {
                    AnimalGridId = "gridAnimals",
                    GroupId      = Model.GroupId
                })"/>
            </div>
        </section>
    }
</section>