@model HoldingCreateEditViewModel
@{
    ViewData["Title"] = Model.IsCreate ? "Create Holding" : "Edit Holding";
}

<partial name="_ViewModelWithMessagePartial" model="@Model" />

<form class="ui form" asp-action="@(Model.IsCreate ? "Create" : "Edit")" asp-route-id="@(Model.IsCreate ? -1 : Model.Holding.HoldingId)">
    @if (!Model.IsCreate)
    {
        <input type="hidden" asp-for="Holding.Timestamp" />
        <input type="hidden" asp-for="Holding.HoldingId" />
    }

    <section class="ui top attached segment">
        <h1>
            @(Model.IsCreate ? "Create" : "Edit") Holding
        </h1>
    </section>
    <section class="ui attached segment">
        <section class="field">
            <label>Name</label>
            <input asp-for="Holding.Name" />
            <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Holding.Name"></span>
        </section>
        <section class="field">
            <label>Holding Number</label>
            <input asp-for="Holding.HoldingNumber" />
            <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Holding.HoldingNumber"></span>
        </section>
        <section class="field">
            <label>Grid Reference</label>
            <input asp-for="Holding.GridReference" />
            <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Holding.GridReference"></span>
        </section>
        <section class="field">
            <label>Name</label>
            <input asp-for="Holding.Address" />
            <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Holding.Address"></span>
        </section>
        <section class="field">
            <label>Postcode</label>
            <input asp-for="Holding.Postcode" />
            <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Holding.Postcode"></span>
        </section>
        <section class="field">
            <label>Owner</label>
            <select id="selectOwner" class="ui search selection dropdown" asp-for="Holding.OwnerContactId"></select>

            <a class="ui primary button" asp-action="Index" asp-controller="Contact" target="_blank">
                GOTO
            </a>
            <button class="ui primary button" type="button" onclick="refreshOwner()">
                REFRESH
            </button>
            
            <span id="errorOwner" class="@GlobalConstants.FormErrorClasses" asp-validation-for="Holding.OwnerContactId"></span>
        </section>
    </section>
    <section class="ui bottom attached segment">
        <a class="ui primary button">
            @(Model.IsCreate ? "Create Holding" : "Edit Holding")
        </a>
        <br />
        <div id="divAllErrors" class="ui error message"></div>
    </section>
</form>

@section Scripts {
    <script>
        $(".ui.checkbox").checkbox();
        $(".ui.dropdown").dropdown();

        Validation.hookupForm(document.querySelector(".ui.form"));

        function refreshOwner() {
            ComponentSelect.populateFromAjaxWithMessageResponse(
                document.getElementById("selectOwner"),
                document.getElementById("errorOwner"),
                "/Contact/AjaxGetNameAndValueAll",
                null
            );
        }
        refreshOwner();
    </script>
}