@model HoldingIndexViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Index - Holdings";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Holdings", "/Holding/Index" }
    };
}

<partial name="_ModalAreYouSure_NoUndo" />

<section class="editor section">
    <section>
        <partial name="_ViewModelWithMessagePartial" model="@Model" />

        <div class="content">
            <div class="top padded items">
                <a class="ui primary button" asp-action="Create">
                    Create New Holding
                </a>
            </div>

            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>GridRef</th>
                        <th>Owner</th>
                        <th>Address</th>
                        <th>Postcode</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var holding in Model.Holdings)
                    {
                        <tr>
                            <td>@holding.Name</td>
                            <td>@holding.HoldingNumber</td>
                            <td>@holding.GridReference</td>
                            <td>@holding.OwnerContact.ShortName</td> <!--If this is null then .Include wasn't used-->
                            <td>@holding.Address</td>
                            <td>@holding.Postcode</td>
                            <td class="ui two buttons">
                                <button class="ui inverted tiny secondary left button" onclick="window.location='/Holding/Edit/@holding.HoldingId'">
                                    Edit
                                </button>
                                <div class="or divide hide mobile"></div>
                                <button class="ui inverted tiny secondary right button" onclick="showDeleteModal(@holding.HoldingId)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</section>

@section Scripts {
    <script type="module">
        import { Modal } from "/js/index.js";

        function showDeleteModal(id) {
            Modal.askAreYouSure()
                 .then(() => document.location = "/Holding/Delete/" + id);
        }
        window.showDeleteModal = showDeleteModal;
    </script>
}