@model RoleIndexViewModel
@{
    ViewData["Title"] = "Index - Role";
}

<h1>Index</h1>

<partial name="_ViewModelWithMessagePartial" model="@Model" />

<section class="row">
    <section class="sixteen wide column">
        <a class="ui primary button" asp-action="Create">Create New Role</a>
    </section>
</section>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Permissions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var role in Model.Roles)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.Description</td>
                <td>@(role.Permissions?.Count() ?? 0)</td>
                <td>
                    <section class="ui two buttons">
                        <a class="ui inverted tiny secondary left button" asp-action="Edit" asp-route-id="@(role.RoleId)">
                            Edit
                        </a>
                        <div class="or divider"></div>
                        <a class="ui inverted tiny secondary right button" asp-action="Delete" asp-route-id="@role.RoleId">
                            Delete
                        </a>
                    </section>
                </td>
            </tr>
        }
    </tbody>
</table>
