@model ContactEditViewModel
@using Business.Model
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Edit Contact";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
{
        { "Home", "/Home/Index" },
        { "Contacts", "/Contact/Index" },
        { "Edit", "#" }
    };

    var dbContext = Context.RequestServices.GetRequiredService<FarmMasterContext>();
}

<partial name="_ModalReason_ContactAction" />

@if (Model.Contact.ContactType == Business.Model.Contact.Type.Individual)
{
    <div class="ui visible warning message">
        <div class="header">Attention about GDPR!</div>

        When adding in new data about an individual, <strong>ensure you have their consent!</strong>
    </div>
}

@if (Model.Contact.ContactType == Business.Model.Contact.Type.Entity)
{
    <div class="ui visible warning message">
        <div class="header">Attention about GDPR!</div>

        When adding in new data about an entity, if that data belongs to an individual person
        instead of the entity as a whole, then you must <strong>ensure you have that individual's consent!</strong>
    </div>
}

<partial name="_ViewModelWithMessagePartial" model="Model" />

<section class="editor section">
    <section>
        <form class="ui form" method="post" asp-action="Edit">
            <input type="hidden" asp-for="Contact.ContactId" />
            <input type="hidden" asp-for="Contact.ContactType" />
            <input type="hidden" asp-for="Contact.Timestamp" />

            <section>
                <h4>
                    General Info
                </h4>
                <div class="content">
                    <div class="field">
                        <label>Full Name</label>
                        <input asp-for="Contact.FullName" />
                    </div>
                    <button type="submit" class="ui fluid primary button">
                        Update Information
                    </button>
                    <div asp-validation-summary="All"></div>
                </div>
            </section>
        </form>
    </section>

    @foreach(var info in new[] {
         new { Header = "Phone Numbers", Section = "sectionPhoneNumbers", ValueIsTextTrueSelectFalse = true },
         new { Header = "Email Addresses", Section = "sectionEmails", ValueIsTextTrueSelectFalse = true },
         new { Header = "Relationships", Section = "sectionRelations", ValueIsTextTrueSelectFalse = false }
    })
    {
        <section class="ui form">
            <h4>
                @info.Header
            </h4>
            <div id="@info.Section" class="content">
                <table class="ui striped table">
                    <thead>
                        <tr class="two columns">
                            <th class="editor action"></th>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="table action section inline action with two inputs">
                    <div class="field">
                        <label>Name:</label>
                        <input class="name" type="text" />
                    </div>
                    <div class="field">
                        <label>Value:</label>

                        @if(info.ValueIsTextTrueSelectFalse)
                        {
                            <input class="value" type="text" />
                        }
                        else
                        {
                            <div class="ui search selection dropdown">
                                <input class="value" type="hidden"/>
                                <i class="dropdown icon"></i>
                                <div class="text"></div>
                                <div class="menu"></div>
                            </div>
                        }
                    </div>
                    <button class="ui primary submit button" type="button">Add</button>
                </div>
                <div class="ui error message transition hidden"></div>
            </div>
        </section>
    }
</section>

@section Scripts {
    <script type="module">
        import { Validation, FarmAjax, FarmAjaxMessageType, Modal, drange } from "/js/index.js";
        Validation.hookupForm(document.querySelector(".ui.form"));

        const sectionPhoneNumbers = document.getElementById("sectionPhoneNumbers");
        const sectionEmails = document.getElementById("sectionEmails");
        const sectionRelations = document.getElementById("sectionRelations");

        function addRow(refreshUrl, deleteUrl, elemSection, nameValueId) {
            const tbody = elemSection.querySelector("table tbody");
            const tr = tbody.appendChild(document.createElement("tr"));
            tr.dataset.id = nameValueId.id;
            {
                let td = tr.appendChild(document.createElement("td"));
                {
                    const button = td.appendChild(document.createElement("button"));
                    button.type = "button";
                    button.classList.add("ui", "red", "icon", "button");
                    button.onclick = () => {
                        Modal.askForReason()
                            .then(deleteReason => {
                                ajaxDelete(deleteUrl, deleteReason, elemSection, tr);
                                ajaxRefresh(refreshUrl, deleteUrl, elemSection);
                            });
                    };
                    {
                        const i = button.appendChild(document.createElement("i"));
                        i.classList.add("close", "icon");
                    }
                }

                td = tr.appendChild(document.createElement("td"));
                td.innerText = nameValueId.name;

                td = tr.appendChild(document.createElement("td"));
                td.innerText = nameValueId.value;
            }
        }

        function ajaxAdd(url, reason, refreshUrl, deleteUrl, elemSection) {
            const inputName = elemSection.querySelector("input.name");
            const inputValue = elemSection.querySelector("input.value");
            const name = inputName.value;
            const value = inputValue.value;
            FarmAjax.postWithMessageAndValueResponse(
                url,
                {
                    name: name,
                    value: value,
                    id: @Model.Contact.ContactId,
                    reason: reason
                },
                rv => {
                    if (rv.messageType !== FarmAjaxMessageType.Information) {
                        rv.populateMessageBox(elemSection.querySelector("div.error.message"));
                        return;
                    }

                    inputName.value = "";
                    inputValue.value = "";

                    addRow(refreshUrl, deleteUrl, elemSection, { name: name, value: value, id: rv.value });
                }
            );
        }

        function ajaxDelete(url, reason, elemSection, elemRow) {
            FarmAjax.postWithMessageResponse(
                url,
                {
                    byId: @Model.Contact.ContactId,
                    forId: elemRow.dataset.id,
                    reason: reason
                },
                response => {
                    if (response.messageType !== FarmAjaxMessageType.Information) {
                        response.populateMessageBox(elemSection.querySelector("div.error.message"));
                        return;
                    }

                    // For some reason, the "elemRow" we're given is missing it's parent's info, so we're doing this
                    // stylishly.
                    elemSection
                        .querySelectorAll("table tbody tr")
                        .forEach(row => {
                            if (row.dataset.id !== elemRow.dataset.id)
                                return;

                            row.parentElement.removeChild(row);
                        });
                }
            );
        }

        function ajaxRefresh(url, deleteUrl, elemSection) {
            FarmAjax.postWithMessageAndValueResponse(
                url,
                {
                    id: @Model.Contact.ContactId
                },
                rv => {
                    if (rv.messageType !== FarmAjaxMessageType.Information) {
                        rv.populateMessageBox(elemSection.querySelector("div.error.message"));
                        return;
                    }

                    const tbody = elemSection.querySelector("table tbody");
                    tbody.innerHtml = "";
                    tbody.innerText = "";

                    for (const nameValueId of rv.value)
                        addRow(url, deleteUrl, elemSection, nameValueId);
                }
            );
        }

        function setupTable(elemSection, addUrl, deleteUrl, refreshUrl, ajaxAddOverride = null) {
            if (ajaxAddOverride === null)
                ajaxAddOverride = ajaxAdd;

            ajaxRefresh(refreshUrl, deleteUrl, elemSection);
            elemSection
                .querySelector("button.submit.button")
                .addEventListener("click", _ => {
                    Modal.askForReason()
                         .then(reason => {
                             const inputValue = elemSection.querySelector("input.value");
                             ajaxAddOverride(
                                 addUrl,
                                 reason,
                                 refreshUrl,
                                 deleteUrl,
                                 elemSection
                             );
                         });
                });
        }

        setupTable(
            sectionPhoneNumbers,
            "/Ajax/Contact_ById_PhoneNumber_Add_ReturnsId",
            "/Ajax/Contact_ById_PhoneNumber_Delete_ById",
            "/Ajax/Contact_ById_PhoneNumber_AsNameValueId_All"
        );

        setupTable(
            sectionEmails,
            "/Ajax/Contact_ById_Email_Add_ReturnsId",
            "/Ajax/Contact_ById_Email_Delete_ById",
            "/Ajax/Contact_ById_Email_AsNameValueId_All"
        );

        // sectionRelations has two main differences:
        //      * It uses a dropdown instead of a textbox.
        //          * This'd normally be fine, but we're having to use Semantic-UI's specific markup, which doesn't include a <select> tag.
        //              * This makes it difficult to get the name of the contact selected, which is useful for updating the table dynamically.
        //      * Because relationship names are *not* unique, we have to work with relationship IDs instead.
        //          * This causes complications, as our reusable code above can't easily compensate for these issues.
        //
        // So with that in mind, instead of over complicating the reusable 'ajaxAdd' above, we'll just handle this one
        // with some custom code. The other two 'ajaxXXX' funcs should work fine afterwards.

        // First, populate the dropdown from values from the server.
        FarmAjax.postWithMessageAndValueResponse(
            "/Ajax/Contact_AsNameId_All",
            null,
            rv => {
                if (rv.messageType !== FarmAjaxMessageType.Information) {
                    rv.populateMessageBox(sectionRelations.querySelector("div.error.message"));
                    return;
                }

                const menu = sectionRelations.querySelector("div.dropdown div.menu");
                for (const nameId of rv.value) {
                    const div = menu.appendChild(document.createElement("div"));
                    div.classList.add("item");
                    div.dataset.value = nameId.id;
                    div.innerText = nameId.name;
                }
            }
        );

        // Then let Semantic-UI have its way, since we're using their styling for the dropdown.
        $(sectionRelations.querySelector("div.dropdown")).dropdown();

        // Finally, create a custom 'ajaxAdd' function for this table, and then setup the table.
        function dropdownAjaxAdd(url, reason, refreshUrl, deleteUrl, elemSection) {
            const inputName = elemSection.querySelector("input.name");
            const inputValue = elemSection.querySelector("input.value");
            const name = inputName.value;
            let value = inputValue.value;
            FarmAjax.postWithMessageAndValueResponse(
                url,
                {
                    name: name,
                    value: value,
                    id: @Model.Contact.ContactId,
                    reason: reason
                },
                rv => {
                    if (rv.messageType !== FarmAjaxMessageType.Information) {
                        rv.populateMessageBox(elemSection.querySelector("div.error.message"));
                        return;
                    }

                    const menu = elemSection.querySelector("div.menu");
                    const item = drange(menu.querySelectorAll("div.item")).filter(i => i.dataset.value === value).front;
                    value = item.innerText;

                    inputName.value = "";
                    $(elemSection).dropdown("clear");

                    addRow(refreshUrl, deleteUrl, elemSection, { name: name, value: value, id: rv.value });
                }
            );
        }

        setupTable(
            sectionRelations,
            "/Ajax/Contact_ById_Relationship_Add_ReturnsId",
            "/Ajax/Contact_ById_Relationship_Delete_ById",
            "/Ajax/Contact_ById_Relationship_AsNameValueId_All",
            dropdownAjaxAdd
        );
    </script>
}