<!--
    REQUIRES "_ComponentModalAreYouSure" PARTIAL TO BE INCLUDED AS WELL.    
-->

@model ComponentCharacteristicsViewModel
@{
    // __cc__ = __ComponentCharacteristics__
    var idInputName             = "__cc__inputName";
    var idInputType             = "__cc__inputType";
    var idTable                 = "__cc__table";
    var idCharacteristicError   = "__cc__boxCharaError";
    var idInputTimeSpanDays     = "__cc__inputTimeSpanDays";
    var idInputTimeSpanMinutes  = "__cc__inputTimeSpanMins";
    var idInputTimeSpanSeconds  = "__cc__inputTimeSpanSecs";
    var idInputTextText         = "__cc__inputTextText";
    var funcRefresh             = "__cc__refresh";
    var funcAddGeneric          = "__cc__addGeneric";
    var funcAddTimeSpan         = "__cc__addTimeSpan";
    var funcAddText             = "__cc__addText";
    var funcDeleteByName        = "__cc__deleteByName";
    var varSegment              = "__cc__segment";
    var classDivCreate          = "ui transition hidden";
}

<section class="ui styled fluid accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        Add a characteristic
    </div>
    <div class="content">
        <section class="ui form">
            <div class="field">
                <label>Name</label>
                <input id="@idInputName" placeholder="Name" />
            </div>
            <div class="field">
                <label>Type</label>
                <div class="ui fluid search selection dropdown">
                    <input id="@idInputType" type="hidden" />
                    <i class="dropdown icon"></i>
                    <div class="default text">Type</div>
                    <div class="menu">
                        <div class="item" data-content-id="divCreateText">Text</div>
                        <div class="item" data-content-id="divCreateTimespan">TimeSpan</div>
                    </div>
                </div>
            </div>
            <hr />
            <section class="field">
                <section id="divCreateTimespan" class="@classDivCreate">
                    <div class="three inline fields">
                        <div class="field">
                            <label>Days</label>
                            <input id="@idInputTimeSpanDays" type="number" value="0" />
                        </div>                        
                        <div class="field">
                            <label>Minutes</label>
                            <input id="@idInputTimeSpanMinutes" type="number" value="0" />
                        </div>                        
                        <div class="field">
                            <label>Seconds</label>
                            <input id="@idInputTimeSpanSeconds" type="number" value="0" />
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui fluid button" onclick="@funcAddTimeSpan ();">Add TimeSpan Characteristic</button>
                    </div>
                </section>
                <section id="divCreateText" class="@classDivCreate">
                    <div class="field">
                        <label>Text</label>
                        <input id="@idInputTextText" type="text" />
                    </div>
                    <div class="field">
                        <button class="ui fluid button" onclick="@funcAddText ();">Add Text Characteristic</button>
                    </div>
                </section>
            </section>
            <div id="@idCharacteristicError" class="ui error message transition hidden"></div>
        </section>
    </div>
</section>

<table id="@idTable" class="ui table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script type="module">
    import { FarmAjax, ComponentCharacteristics, ComponentModal, ComponentSelect, FarmAjaxMessageType } from "/js/index.js"

    let @idTable     = document.getElementById("@idTable");
    let @idInputType = document.getElementById("@idInputType");
    let @idInputName = document.getElementById("@idInputName");
    let @varSegment  = @(idTable).parentElement;

    if (@varSegment !== null && !@(varSegment).classList.contains("segment"))
        @varSegment = null;

    function @funcRefresh () {
        ComponentCharacteristics.getValuesAjax(
            document.getElementById('@Model.IdBoxError'),
            @varSegment,
            @idTable,
            @funcDeleteByName,
            "@Model.AjaxListUrl",
            "@Model.EntityType",
            @Model.EntityId
        );
    }
    window.@funcRefresh = @funcRefresh;

    function @funcDeleteByName (value) {
        ComponentModal.showAreYouSureModal(() =>
            FarmAjax.postWithMessageResponse(
                "@Model.AjaxDeleteUrl",
                {
                    entityId: @Model.EntityId,
                    entityType: "@Model.EntityType",
                    charaName: value.name
                },
                response => {
                    if (response.messageType == FarmAjaxMessageType.Error) {
                        //response.populateMessageBox(boxError);
                        return;
                    }

                    @funcRefresh ();
                }
            )
        );
    }
    window.@funcDeleteByName = @funcDeleteByName;

    function @funcAddGeneric (url, boxError, entityId, entityType, charaName, charaType, charaValue) {
        boxError.classList.add("transition", "hidden");
        FarmAjax.postWithMessageResponse(
            url,
            {
                entityId: entityId,
                entityType: entityType,
                charaName: charaName,
                charaType: charaType,
                charaValue: charaValue
            },
            response => {
                if (response.messageType == FarmAjaxMessageType.Error) {
                    response.populateMessageBox(boxError);
                    return;
                }

                @funcRefresh ();
            }
        );
    }
    window.@funcAddGeneric = @funcAddGeneric;

    function @funcAddTimeSpan () {
        let days = document.getElementById("@idInputTimeSpanDays").value || "0";
        let mins = document.getElementById("@idInputTimeSpanMinutes").value || "0";
        let secs = document.getElementById("@idInputTimeSpanSeconds").value || "0";
        let value = days + "d " + mins + "m " + secs + "s";

        @funcAddGeneric (
            "@Model.AjaxAddUrl",
            document.getElementById("@idCharacteristicError"),
            @Model.EntityId,
            "@Model.EntityType",
            document.getElementById("@idInputName").value,
            "TimeSpan",
            value
        );
    }
    window.@funcAddTimeSpan = @funcAddTimeSpan;

    function @funcAddText () {
        @funcAddGeneric (
            "@Model.AjaxAddUrl",
            document.getElementById("@idCharacteristicError"),
            @Model.EntityId,
            "@Model.EntityType",
            document.getElementById("@idInputName").value,
            "Text",
            document.getElementById("@idInputTextText").value
        );
    }
    window.@funcAddText = @funcAddText;

    $(function ()
    {
        @funcRefresh ();

        ComponentSelect.asContentSelector(document.getElementById("@idInputType"));
    });
</script>