@model PagedTableViewComponent.Model

<table id="@Model.TableId" class="ui striped table" 
       data-graphql-page-count-name="@Model.PageCountName"
       data-controller="@Model.Controller"
       data-action-edit="@Model.ActionEdit"
       data-action-delete="@Model.ActionDelete">
    <thead>
        <tr>
            @foreach(var header in Model.Headers.Concat(new[] { "Actions" }))
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>