@model DropdownViewComponent.Model

@{ 
    var gotoClasses = "ui icon button";
    var dropdownClasses = "ui search selection dropdown";

    if(Model.GotoAction == null && Model.GotoController == null)
    {
        gotoClasses += " hidden";
    }

    if(Model.IsMultipleSelect)
    {
        dropdownClasses += " multiple";
    }
}

<div id="@Model.DropdownId" class="field for entity">
    <label>
        @Model.Label
        <a class="@gotoClasses" asp-action="@Model.GotoAction" asp-controller="@Model.GotoController" target="_blank">
            <i class="share icon"></i>
        </a>
        <a class="ui icon button" data-type="refresh">
            <i class="sync icon"></i>
        </a>
    </label>

    <div class="@dropdownClasses">
        <input id="@Model.AspFor.Name" name="@Model.AspFor.Name" type="hidden" data-default-value="@Model.DefaultValue" />
        <i class="dropdown icon"></i>
        <div class="text"></div>
        <div class="menu">

        </div>
    </div>
</div>